/* Header website name and Body*/

body {
    margin: 0;
}

header {
    background-color: #65748a;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* .website-title {
} */

/* This is for the navbar */

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Navbar Cart lefet side */

.navbar a:nth-child(8) {
    float: right;
}

/* Table contents */

.table-contents {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Adding User */

.addUser {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;
}

.addUser legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.add-user-content {
    display: flex;
    margin: 0px;
}

.add-user-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* adding, delete, or update boxes */

.filter-input-label {
    width: 120px;   
}

.filter-input-element {
    flex: 1;
    display: flex;
}

.filter-input {
    flex: 1;
    font-size: 14px;
    margin-left: 10px;
    padding: 3px;
    border: 1px solid #333131;
    border-radius: 3px;
}

.filter-input-label {
    width: 100;
}

.filter-input-element {
    margin: 0 5px;
    flex: 1 1 100%;
}

.filter-input {
    font-size: 14px;
    width: 100%;
    margin-left: 10px;
    padding: 3px;
    border: 1px solid #333131;
    border-radius: 3px;
}

/* .btn {
    margin-top: 10px;
}

.addUser .btn:first-child {
    margin-right: 10px; 
} */

/* Update User box */

.updateUser {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.updateUser legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.update-user-content {
    display: flex;
    margin: 0px;
}

.update-user-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
/* Delete User box */

.deleteUser {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.deleteUser legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.delete-user-content {
    display: flex;
    margin: 0px;
}

.delete-user-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Add New Order */

.addOrder {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.addOrder legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.add-order-content {
    display: flex;
    margin: 0px;
}

.add-order-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Delete Order box */

.deleteOrder {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.deleteOrder legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.delete-order-content {
    display: flex;
    margin: 0px;
}

.delete-order-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Add New Product Type */

.productType {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.productType legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.product-type-content {
    display: flex;
    margin: 0px;
}

.product-type-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Delete User box */

.deleteProductType {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.deleteProductType legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.delete-product-type-content {
    display: flex;
    margin: 0px;
}

.delete-product-type-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Add equipment */

.addEquipment {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.addEquipment legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.add-equipment-content {
    display: flex;
    margin: 0px;
}

.add-equipment-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Delete equipment box */

.deleteEquipment {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.deleteEquipment legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.delete-equipment-content {
    display: flex;
    margin: 0px;
}

.delete-equipment-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Update User box */

.updateEquipment {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.updateEquipment legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.update-equipment-content {
    display: flex;
    margin: 0px;
}

.update-equipment-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}




/* Add orderEquipment */

.addOrderEquipment {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.addOrderEquipment legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.add-OrderEquipment-content {
    display: flex;
    margin: 0px;
}

.add-OrderEquipment-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Delete equipment box */

.deleteOrderEquipment {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.deleteOrderEquipment legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.delete-OrderEquipment-content {
    display: flex;
    margin: 0px;
}

.delete-OrderEquipment-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Update User box */

.updateOrderEquipment {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.updateOrderEquipment legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.update-OrderEquipment-content {
    display: flex;
    margin: 0px;
}

.update-OrderEquipment-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


/* Update User box */

.updateAmount {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.updateAmount legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.update-amount-content {
    display: flex;
    margin: 0px;
}

.update-amount-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


/* Add Review */

.addReview {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.addReview legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.add-review-content {
    display: flex;
    margin: 0px;
}

.add-review-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


/* Delete Review box */

.deleteReview {
    display: inline-block;
    min-width: 200px;
    margin: 20px 20px auto 20px;
    padding: 20px;
    border-radius: 3px;
    background-color: lightblue;
    border: 1px solid #333131;

}

.deleteReview legend {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.delete-review-content {
    display: flex;
    margin: 0px;
}

.delete-review-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}